doctype html
html
  head
    title= title
    script(src=viewHelpers.getAssetUrl('labActivities.js'))
    link(href=viewHelpers.getAssetUrl('labActivities.css') rel="stylesheet")
  body
    block content
