extends ../layout

block content
  h1 New CV
  form(action="/cv" class="cv-form" method="post")
    fieldset#cv-sections
    fieldset
      .row.justify-content-center.mt-3
        .col-sm-12.col-md-4
          .text-center
            button.btn.btn-primary.add-new-cv-section(type="button") Add section
      .row.justify-content-center.mt-4
        .col-sm-12.col-md-4
          .text-center
            input(type="submit" value="Save" class="btn btn-primary")
