extends ../layout

block content
  h1 Edit CV from #{user.name}
  form(action=(`/cv/${cv._id}`) method="post")
    input(type="hidden" name="_method" value="put")
    fieldset#cv-sections
      for section in cv.sections
        div.row.mt-2
          .col-sm-12.text-right
            p.text-right.remove
              span(style='cursor: pointer') Remove
          .col-sm-12
            textarea.ckeditor(name='sections[]') !{section}
    fieldset
      .row.justify-content-center.mt-3
        .col-sm-12.col-md-4
          .text-center
            button.btn.btn-primary.add-new-cv-section(type="button") Add section
      .row.justify-content-center.mt-4
        .col-sm-12.col-md-4
          .text-center
            input(type="submit" value="Save" class="btn btn-primary")
