extends ../layout

block content
  h1 Novo CV
  form(action="/cv" method="post")
    fieldset
      .row
        .col-sm-2
          label Nome
        .col-sm
          input(type="text" name="name")
      .row
        .col-sm-2
          label Idade
        .col-sm
          input(type="text" name="age")
      .row
        .col-sm-2
          label Habilidades
        .col-sm
          input(type="text" name="skills")
      .row
        .col-sm
          input(type="submit" value="Salvar")
