extends ../layout

block content
  .row
    .col
      .jumbotron.cv-display
        h1.display-4= cv.name
        hr.my-4
        .row
          .col
            p= cv.skills
        .row
          .col.text-center
            figure.figure
              img(src=cv.photoUrl) class="figure-img img-fluid rounded photo")
        .row
          .col
            a(class="btn btn-primary" href="/cv") Voltar


